p, li, h1 {
  color: blue;
  width: 500px;
}
html {
  font-size: 20px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: 'Architects Daughter'; /* this should be the rest of the output you got from Google fonts */
}
h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 20px;
  line-height: 2;
  letter-spacing: 2px;
}
html {
  background-color: #E2F7F6;
}
body {
  width: 1000px;
  margin: 0 auto;
  background-color: #D3E8FC;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
h1 {
  margin: 0;
  margin: 0 auto;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}
img {
  display: block;
  margin: 0 auto;
}
p {
  margin: 0 auto;
}